NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
APP_ORIGIN=
SUPABASE_SERVICE_ROLE_KEY=
RETELL_INGRESS_PROTOTYPE=
RETELL_INGRESS_PRODUCTION=
RETELL_INGRESS_TEST_SECRET=
RETELL_INGRESS_LEAD_WRITER=
RETELL_INGRESS_CONNECTION_ID=
